In [1]:
# Dependencies
### Data Cleaning
import csv
import pandas as pd
import numpy as np

### Reflecting DB
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import func
Base = declarative_base()

In [2]:
# Read Tab seperated CCES Raw data (using pd.read_csv method) into a pandas Data Frame

file = "data_raw/CCES16_Common_OUTPUT_Feb2018_VV-subset.tab"
file_df = pd.read_csv(file, sep='\t')
file_df.head(2)

,V101,lookupzip,inputstate,countyfips,birthyr,gender,educ,CC16_330a,CC16_330b,CC16_330d,CC16_330e,CC16_332a,CC16_332b,CC16_332c,CC16_332d,CC16_332e,CC16_335
0,222168628,3442,33,33011.0,1969,2,2,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0
1,273691199,70118,22,22071.0,1994,2,2,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [3]:
# Read CSV file containing State strings with matching V101 numbers

StatesCSV = 'data_raw/state_names.csv'
StatesDf = pd.read_csv(StatesCSV)
StatesDf.head(2)

        V101      StateName
0  222168628  New Hampshire
1  273691199      Louisiana

In [4]:
# Merge the two Pandas Data Frames on V101

FinalDF = pd.merge(file_df, StatesDf, on = 'V101')
FinalDF.head(2)

,V101,lookupzip,inputstate,countyfips,birthyr,gender,educ,CC16_330a,CC16_330b,CC16_330d,CC16_330e,CC16_332a,CC16_332b,CC16_332c,CC16_332d,CC16_332e,CC16_335,StateName
0,222168628,3442,33,33011.0,1969,2,2,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0,New Hampshire
1,273691199,70118,22,22071.0,1994,2,2,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,Louisiana

In [5]:
# Clean the merged Data:

# Drop all rows that have an NA in any column
file_df = FinalDF.dropna()

# Reset the index so there are not missing index values
file_df1 = file_df.reset_index()

# drop second index
file_df1 = file_df1.drop(columns=['index', 'inputstate'])

file_df1.head(2)

,V101,lookupzip,countyfips,birthyr,gender,educ,CC16_330a,CC16_330b,CC16_330d,CC16_330e,CC16_332a,CC16_332b,CC16_332c,CC16_332d,CC16_332e,CC16_335,StateName
0,222168628,3442,33011.0,1969,2,2,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0,New Hampshire
1,273691199,70118,22071.0,1994,2,2,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,Louisiana

In [6]:
# Rename columns with more descriptive titles

file_dfRename = file_df1.rename(columns = {
    'CC16_330a':'GunBackgroundChecks_16',
    'CC16_330b':'ProhibitPublication_16',
    'CC16_330d':'BanAssultWeapons_16',
    'CC16_330e':'MakeCCPEasier_16',
    'CC16_332a':'AlwaysAllowChoice_16',
    'CC16_332b':'RapeIncestorHealth_16',
    'CC16_332c':'ProhibitMoreThan20Weeks_16',
    'CC16_332d':'EmployersDeclineBenefits_16',
    'CC16_332e':'ProhibitFedFunds_16',
    'CC16_335': 'GayMarriage'
})

# Reorder the columns

CCES_df = file_dfRename[['V101', 'lookupzip', 'StateName', 'countyfips', 'birthyr', 'gender', 'educ',
       'GunBackgroundChecks_16', 'ProhibitPublication_16',
       'BanAssultWeapons_16', 'MakeCCPEasier_16', 'AlwaysAllowChoice_16',
       'RapeIncestorHealth_16', 'ProhibitMoreThan20Weeks_16',
       'EmployersDeclineBenefits_16', 'ProhibitFedFunds_16', 'GayMarriage']]
CCES_df.head(2)

,V101,lookupzip,StateName,countyfips,birthyr,gender,educ,GunBackgroundChecks_16,ProhibitPublication_16,BanAssultWeapons_16,MakeCCPEasier_16,AlwaysAllowChoice_16,RapeIncestorHealth_16,ProhibitMoreThan20Weeks_16,EmployersDeclineBenefits_16,ProhibitFedFunds_16,GayMarriage
0,222168628,3442,New Hampshire,33011.0,1969,2,2,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0
1,273691199,70118,Louisiana,22071.0,1994,2,2,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [7]:
########## Convert some of the columns from number answers to string value responses

# Convert gender column
CCES_df['gender'] = CCES_df['gender'].apply(lambda x: 'male' if x== 1 else 'female')

# map and convert edu column
CCES_df['educ'] = CCES_df['educ'].map({
                                            1: 'NoHS',
                                            2: 'HS_Grad',
                                            3: 'Some College',
                                            4: '2-year',
                                            5: '4-year',
                                            6: 'Post-Grad'
                                          })

# CC16_330a 1 support, 2 oppose, 8 skipped / Gun Background Checks_16
CCES_df['GunBackgroundChecks_16'] = CCES_df['GunBackgroundChecks_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_330b 1 support, 2 oppose, 8 skipped  'CC16_330b':'Prohibit Publication_16',
CCES_df['ProhibitPublication_16'] = CCES_df['ProhibitPublication_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_330d 1 support, 2 oppose, 8 skipped 'CC16_330d':'Ban Assult Weapons_16',
CCES_df['BanAssultWeapons_16'] = CCES_df['BanAssultWeapons_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_330e 1 support, 2 oppose, 8 skipped 'CC16_330e':'Make CCP Easier_16',
CCES_df['MakeCCPEasier_16'] = CCES_df['MakeCCPEasier_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_332a 1 support, 2 oppose, 8 skipped 'CC16_332a':'Always Allow Choice_16',
CCES_df['AlwaysAllowChoice_16'] = CCES_df['AlwaysAllowChoice_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_332b 1 support, 2 oppose, 8 skipped   'CC16_332b':'Rape, Incest, or Health_16',
CCES_df['RapeIncestorHealth_16'] = CCES_df['RapeIncestorHealth_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_332c 1 support, 2 oppose, 8 skipped 'CC16_332c':'Prohibit MoreThan20 Weeks_16',
CCES_df['ProhibitMoreThan20Weeks_16'] = CCES_df['ProhibitMoreThan20Weeks_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_332d 1 support, 2 oppose, 8 skipped   'CC16_332d':'Employers decline benefits_16',
CCES_df['EmployersDeclineBenefits_16'] = CCES_df['EmployersDeclineBenefits_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_332e 1 support, 2 oppose, 8 skipped  'CC16_332e':'Prohibit Fed Funds_16',
CCES_df['ProhibitFedFunds_16'] = CCES_df['ProhibitFedFunds_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_335 1 support, 2 oppose, 8 skipped  'CC16_335': 'GayMarriage'
CCES_df['GayMarriage'] = CCES_df['GayMarriage'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})
CCES_df.head(2)

,V101,lookupzip,StateName,countyfips,birthyr,gender,educ,GunBackgroundChecks_16,ProhibitPublication_16,BanAssultWeapons_16,MakeCCPEasier_16,AlwaysAllowChoice_16,RapeIncestorHealth_16,ProhibitMoreThan20Weeks_16,EmployersDeclineBenefits_16,ProhibitFedFunds_16,GayMarriage
0,222168628,3442,New Hampshire,33011.0,1969,female,HS_Grad,Support,Oppose,Oppose,Oppose,Support,Oppose,Support,Oppose,Oppose,Support
1,273691199,70118,Louisiana,22071.0,1994,female,HS_Grad,Support,Support,Oppose,Support,Support,Support,Support,Support,Support,Support

In [8]:
## Troubleshooting to add up the total responses for each column
## If the responses for each section show a difference value of 0 - that's good news!

GunBcSupport = (len(CCES_df[CCES_df['GunBackgroundChecks_16']=='Support']))
GunBCOppose = (len(CCES_df[CCES_df['GunBackgroundChecks_16']=='Oppose']))
GunBcTotal = (len(CCES_df[CCES_df['GunBackgroundChecks_16']!='none']))
print('Gun Support Total Support: ', GunBcSupport)
print('Total Oppose: ', GunBCOppose)
print('Total Rows: ', GunBcTotal)
print('Total Difference', (GunBcTotal - GunBCOppose - GunBcSupport))
print('--------------------------------------------------------------------------')

ProhibitPubSupport = (len(CCES_df[CCES_df['ProhibitPublication_16']=='Support']))
ProhibitPubOppose = (len(CCES_df[CCES_df['ProhibitPublication_16']=='Oppose']))
ProhibitPubTotal = (len(CCES_df[CCES_df['ProhibitPublication_16']!='none']))
print('Prohibit Publication_16: ', ProhibitPubSupport)
print('Total Oppose: ', ProhibitPubOppose)
print('Total Rows: ', ProhibitPubTotal)
print('Total Difference', (ProhibitPubTotal - ProhibitPubOppose - ProhibitPubSupport))
print('--------------------------------------------------------------------------')
BanAssultSupport = (len(CCES_df[CCES_df['BanAssultWeapons_16']=='Support']))
BanAssultOppose = (len(CCES_df[CCES_df['BanAssultWeapons_16']=='Oppose']))
BanAssultTotal = (len(CCES_df[CCES_df['BanAssultWeapons_16']!='none']))
print('Gun Support Total Support: ', BanAssultSupport)
print('Total Oppose: ', BanAssultOppose)
print('Total Rows: ', BanAssultTotal)
print('Total Difference', (BanAssultTotal - BanAssultOppose - BanAssultSupport))
print('--------------------------------------------------------------------------')
#########################################################################################
CCPSupport = (len(CCES_df[CCES_df['MakeCCPEasier_16']=='Support']))
CCPOppose = (len(CCES_df[CCES_df['MakeCCPEasier_16']=='Oppose']))
CCPTotal = (len(CCES_df[CCES_df['MakeCCPEasier_16']!='none']))
print('Gun Support Total Support: ', CCPSupport)
print('Total Oppose: ', CCPOppose)
print('Total Rows: ', CCPTotal)
print('Total Difference', (CCPTotal - CCPOppose - CCPSupport))
print('--------------------------------------------------------------------------')

AlwaysSupport = (len(CCES_df[CCES_df['AlwaysAllowChoice_16']=='Support']))
AlwaysOppose = (len(CCES_df[CCES_df['AlwaysAllowChoice_16']=='Oppose']))
AlwaysTotal = (len(CCES_df[CCES_df['AlwaysAllowChoice_16']!='none']))
print('Prohibit Publication_16: ', AlwaysSupport)
print('Total Oppose: ', AlwaysOppose)
print('Total Rows: ', AlwaysTotal)
print('Total Difference', (AlwaysTotal - AlwaysOppose - AlwaysSupport))
print('--------------------------------------------------------------------------')
HealthSupport = (len(CCES_df[CCES_df['RapeIncestorHealth_16']=='Support']))
HealthOppose = (len(CCES_df[CCES_df['RapeIncestorHealth_16']=='Oppose']))
HealthTotal = (len(CCES_df[CCES_df['RapeIncestorHealth_16']!='none']))
print('Gun Support Total Support: ', HealthSupport)
print('Total Oppose: ', HealthOppose)
print('Total Rows: ', HealthTotal)
print('Total Difference', (HealthTotal - HealthOppose - HealthSupport))
print('--------------------------------------------------------------------------')

#########################################################################################
MoreThan20Support = (len(CCES_df[CCES_df['ProhibitMoreThan20Weeks_16']=='Support']))
MoreThan20Oppose = (len(CCES_df[CCES_df['ProhibitMoreThan20Weeks_16']=='Oppose']))
MoreThan20Total = (len(CCES_df[CCES_df['ProhibitMoreThan20Weeks_16']!='none']))
print('Gun Support Total Support: ', MoreThan20Support)
print('Total Oppose: ', MoreThan20Oppose)
print('Total Rows: ', MoreThan20Total)
print('Total Difference', (MoreThan20Total - MoreThan20Oppose - MoreThan20Support))
print('--------------------------------------------------------------------------')

DeclineBenSupport = (len(CCES_df[CCES_df['EmployersDeclineBenefits_16']=='Support']))
DeclineBenOppose = (len(CCES_df[CCES_df['EmployersDeclineBenefits_16']=='Oppose']))
DeclineBenTotal = (len(CCES_df[CCES_df['EmployersDeclineBenefits_16']!='none']))
print('Prohibit Publication_16: ', DeclineBenSupport)
print('Total Oppose: ', DeclineBenOppose)
print('Total Rows: ', DeclineBenTotal)
print('Total Difference', (DeclineBenTotal - DeclineBenOppose - DeclineBenSupport))
print('--------------------------------------------------------------------------')
NoFedFundsSupport = (len(CCES_df[CCES_df['ProhibitFedFunds_16']=='Support']))
NoFedFundsOppose = (len(CCES_df[CCES_df['ProhibitFedFunds_16']=='Oppose']))
NoFedFundsTotal = (len(CCES_df[CCES_df['ProhibitFedFunds_16']!='none']))
print('Gun Support Total Support: ', NoFedFundsSupport)
print('Total Oppose: ', NoFedFundsOppose)
print('Total Rows: ', NoFedFundsTotal)
print('Total Difference', (NoFedFundsTotal - NoFedFundsOppose - NoFedFundsSupport))
print('--------------------------------------------------------------------------')

#########################################################################################
GaySupport = (len(CCES_df[CCES_df['GayMarriage']=='Support']))
GayOppose = (len(CCES_df[CCES_df['GayMarriage']=='Oppose']))
GayTotal = (len(CCES_df[CCES_df['GayMarriage']!='none']))
print('GayMarriage Total Support: ', GaySupport)
print('Total Oppose: ', GayOppose)
print('Total Rows: ', GayTotal)
print('Total Difference', (GayTotal - GayOppose - GaySupport))
print('--------------------------------------------------------------------------')

GenderMale = (len(CCES_df[CCES_df['gender']=='male']))
GenderFemale = (len(CCES_df[CCES_df['gender']=='female']))
GenderTotal = (len(CCES_df[CCES_df['gender']!='none']))
print('gender: ', GenderMale)
print('Total Male: ', GenderMale)
print('Total Female: ', GenderFemale)
print('Total Rows: ', GenderTotal)
print('Total Difference', (GenderTotal - GenderFemale - GenderMale))
print('--------------------------------------------------------------------------')

# Education

NoHS = (len(CCES_df[CCES_df['educ']=='NoHS']))
HS_Grad = (len(CCES_df[CCES_df['educ']=='HS_Grad']))
SomeCollege = (len(CCES_df[CCES_df['educ']=='Some College']))
year2 = (len(CCES_df[CCES_df['educ']=='2-year']))
year4= (len(CCES_df[CCES_df['educ']=='4-year']))
PostGrad = (len(CCES_df[CCES_df['educ']=='Post-Grad']))
eduTotal = (len(CCES_df[CCES_df['educ']!='none']))
print('educ Total Support: ' )
print('Total NoHS: ',NoHS )
print('Total HS_Grad: ', HS_Grad)
print('Total SomeCollege: ', SomeCollege)
print('Total year2: ', year2)
print('Total year4: ', year4)
print('Total PostGrad: ', PostGrad)
print('Total Rows: ', eduTotal)
print('Total Difference', (eduTotal - NoHS - HS_Grad- SomeCollege - year2 - year4 - PostGrad ))
print('--------------------------------------------------------------------------')

Gun Support Total Support:  56810
Total Oppose:  6071
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
Prohibit Publication_16:  37098
Total Oppose:  25783
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
Gun Support Total Support:  41793
Total Oppose:  21088
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
Gun Support Total Support:  23663
Total Oppose:  39218
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
Prohibit Publication_16:  38869
Total Oppose:  24012
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
Gun Support Total Support:  28768
Total Oppose:  34113
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
Gun Support Total Support:  38017
Total Oppose:  24864
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
Prohibit Publication_16:  27312
Total Oppose:  35569
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
Gun Support Total Support:  28358
Total Oppose:  34523
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
GayMarriage Total Support:  40955
Total Oppose:  21926
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
gender:  28770
Total Male:  28770
Total Female:  34111
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------
educ Total Support:
Total NoHS:  1916
Total HS_Grad:  15924
Total SomeCollege:  15249
Total year2:  6980
Total year4:  14501
Total PostGrad:  8311
Total Rows:  62881
Total Difference 0
--------------------------------------------------------------------------

In [9]:
# Create the engine to connect to a sqlite file.
# The file will not be created until the class, base, and metadata are executed

engine = create_engine("sqlite:///db/CCES_Ver50.sqlite")

# Create a variable to manage session.queries later on...
session = Session(engine)

In [10]:
# Display Dataframe Column types to ensure the class is created correctly

CCES_df.dtypes

V101                             int64
lookupzip                        int64
StateName                       object
countyfips                     float64
birthyr                          int64
gender                          object
educ                            object
GunBackgroundChecks_16          object
ProhibitPublication_16          object
BanAssultWeapons_16             object
MakeCCPEasier_16                object
AlwaysAllowChoice_16            object
RapeIncestorHealth_16           object
ProhibitMoreThan20Weeks_16      object
EmployersDeclineBenefits_16     object
ProhibitFedFunds_16             object
GayMarriage                     object
dtype: object

In [11]:
### Define our Survey Class for the sqlite db table


class Survey(Base):
    __tablename__ = 'CCES_16'
    index = Column(Integer, primary_key=True)
    V101 = Column(Integer)
    lookupzip = Column(Integer)
    StateName = Column(String(255))
    countyfips = Column(Float)
  
    birthyr = Column(Integer)
    gender = Column(String(255))
    educ = Column(String(255))
   
    GunBackgroundChecks_16 = Column(String(255))
    ProhibitPublication_16 = Column(String(255))
    BanAssultWeapons_16 = Column(String(255))
    MakeCCPEasier_16 = Column(String(255))
    AlwaysAllowChoice_16 = Column(String(255))
    RapeIncestorHealth_16 = Column(String(255))
    ProhibitMoreThan20Weeks_16 = Column(String(255))
    Employersdeclinebenefits_16 = Column(String(255))
    ProhibitFedFunds_16 = Column(String(255))
    GayMarriage = Column(String(255))

In [12]:
# Create the CCES_16 table within the database
# This step actually creates the sqlite file

Base.metadata.create_all(engine)

In [13]:
# Loop to transfer/write the DF data into the sqlite file.
# The only way I could get this to work was in a loop where the notebook wasn't trying to write more than 50 rows at a time.
# I believe this is a hardware limitation of my laptop where it could not process more than 50 rows at a time in the local
# memory without the notebook becoming unresponsive. This method has worked accuratly and quickly for 10+ consecutive tests.

# It takes approximately 1 minute for this cell to run.

x1 = 0
x2 = 50

while x1 < 62881:
    
    tempDF = CCES_df.iloc[x1:x2]
    tempDF.to_sql('CCES_16', con=engine, if_exists='append')
    x1 += 50
    x2 += 50
    print('Round complete, starting', x1, 'to', x2)

Round complete, starting 50 to 100
Round complete, starting 100 to 150
Round complete, starting 150 to 200
Round complete, starting 200 to 250
Round complete, starting 250 to 300
Round complete, starting 300 to 350
Round complete, starting 350 to 400
Round complete, starting 400 to 450
Round complete, starting 450 to 500
Round complete, starting 500 to 550
Round complete, starting 550 to 600
Round complete, starting 600 to 650
Round complete, starting 650 to 700
Round complete, starting 700 to 750
Round complete, starting 750 to 800
Round complete, starting 800 to 850
Round complete, starting 850 to 900
Round complete, starting 900 to 950
Round complete, starting 950 to 1000
Round complete, starting 1000 to 1050
Round complete, starting 1050 to 1100
Round complete, starting 1100 to 1150
Round complete, starting 1150 to 1200
Round complete, starting 1200 to 1250
Round complete, starting 1250 to 1300
Round complete, starting 1300 to 1350
Round complete, starting 1350 to 1400
Round complete, starting 1400 to 1450
Round complete, starting 1450 to 1500
Round complete, starting 1500 to 1550
Round complete, starting 1550 to 1600
Round complete, starting 1600 to 1650
Round complete, starting 1650 to 1700
Round complete, starting 1700 to 1750
Round complete, starting 1750 to 1800
Round complete, starting 1800 to 1850
Round complete, starting 1850 to 1900
Round complete, starting 1900 to 1950
Round complete, starting 1950 to 2000
Round complete, starting 2000 to 2050
Round complete, starting 2050 to 2100
Round complete, starting 2100 to 2150
Round complete, starting 2150 to 2200
Round complete, starting 2200 to 2250
Round complete, starting 2250 to 2300
Round complete, starting 2300 to 2350
Round complete, starting 2350 to 2400
Round complete, starting 2400 to 2450
Round complete, starting 2450 to 2500
Round complete, starting 2500 to 2550
Round complete, starting 2550 to 2600
Round complete, starting 2600 to 2650
Round complete, starting 2650 to 2700
Round complete, starting 2700 to 2750
Round complete, starting 2750 to 2800
Round complete, starting 2800 to 2850
Round complete, starting 2850 to 2900
Round complete, starting 2900 to 2950
Round complete, starting 2950 to 3000
Round complete, starting 3000 to 3050
Round complete, starting 3050 to 3100
Round complete, starting 3100 to 3150
Round complete, starting 3150 to 3200
Round complete, starting 3200 to 3250
Round complete, starting 3250 to 3300
Round complete, starting 3300 to 3350
Round complete, starting 3350 to 3400
Round complete, starting 3400 to 3450
Round complete, starting 3450 to 3500
Round complete, starting 3500 to 3550
Round complete, starting 3550 to 3600
Round complete, starting 3600 to 3650
Round complete, starting 3650 to 3700
Round complete, starting 3700 to 3750
Round complete, starting 3750 to 3800
Round complete, starting 3800 to 3850
Round complete, starting 3850 to 3900
Round complete, starting 3900 to 3950
Round complete, starting 3950 to 4000
Round complete, starting 4000 to 4050
Round complete, starting 4050 to 4100
Round complete, starting 4100 to 4150
Round complete, starting 4150 to 4200
Round complete, starting 4200 to 4250
Round complete, starting 4250 to 4300
Round complete, starting 4300 to 4350
Round complete, starting 4350 to 4400
Round complete, starting 4400 to 4450
Round complete, starting 4450 to 4500
Round complete, starting 4500 to 4550
Round complete, starting 4550 to 4600
Round complete, starting 4600 to 4650
Round complete, starting 4650 to 4700
Round complete, starting 4700 to 4750
Round complete, starting 4750 to 4800
Round complete, starting 4800 to 4850
Round complete, starting 4850 to 4900
Round complete, starting 4900 to 4950
Round complete, starting 4950 to 5000
Round complete, starting 5000 to 5050
Round complete, starting 5050 to 5100
Round complete, starting 5100 to 5150
Round complete, starting 5150 to 5200
Round complete, starting 5200 to 5250
Round complete, starting 5250 to 5300
Round complete, starting 5300 to 5350
Round complete, starting 5350 to 5400
Round complete, starting 5400 to 5450
Round complete, starting 5450 to 5500
Round complete, starting 5500 to 5550
Round complete, starting 5550 to 5600
Round complete, starting 5600 to 5650
Round complete, starting 5650 to 5700
Round complete, starting 5700 to 5750
Round complete, starting 5750 to 5800
Round complete, starting 5800 to 5850
Round complete, starting 5850 to 5900
Round complete, starting 5900 to 5950
Round complete, starting 5950 to 6000
Round complete, starting 6000 to 6050
Round complete, starting 6050 to 6100
Round complete, starting 6100 to 6150
Round complete, starting 6150 to 6200
Round complete, starting 6200 to 6250
Round complete, starting 6250 to 6300
Round complete, starting 6300 to 6350
Round complete, starting 6350 to 6400
Round complete, starting 6400 to 6450
Round complete, starting 6450 to 6500
Round complete, starting 6500 to 6550
Round complete, starting 6550 to 6600
Round complete, starting 6600 to 6650
Round complete, starting 6650 to 6700
Round complete, starting 6700 to 6750
Round complete, starting 6750 to 6800
Round complete, starting 6800 to 6850
Round complete, starting 6850 to 6900
Round complete, starting 6900 to 6950
Round complete, starting 6950 to 7000
Round complete, starting 7000 to 7050
Round complete, starting 7050 to 7100
Round complete, starting 7100 to 7150
Round complete, starting 7150 to 7200
Round complete, starting 7200 to 7250
Round complete, starting 7250 to 7300
Round complete, starting 7300 to 7350
Round complete, starting 7350 to 7400
Round complete, starting 7400 to 7450
Round complete, starting 7450 to 7500
Round complete, starting 7500 to 7550
Round complete, starting 7550 to 7600
Round complete, starting 7600 to 7650
Round complete, starting 7650 to 7700
Round complete, starting 7700 to 7750
Round complete, starting 7750 to 7800
Round complete, starting 7800 to 7850
Round complete, starting 7850 to 7900
Round complete, starting 7900 to 7950
Round complete, starting 7950 to 8000
Round complete, starting 8000 to 8050
Round complete, starting 8050 to 8100
Round complete, starting 8100 to 8150
Round complete, starting 8150 to 8200
Round complete, starting 8200 to 8250
Round complete, starting 8250 to 8300
Round complete, starting 8300 to 8350
Round complete, starting 8350 to 8400
Round complete, starting 8400 to 8450
Round complete, starting 8450 to 8500
Round complete, starting 8500 to 8550
Round complete, starting 8550 to 8600
Round complete, starting 8600 to 8650
Round complete, starting 8650 to 8700
Round complete, starting 8700 to 8750
Round complete, starting 8750 to 8800
Round complete, starting 8800 to 8850
Round complete, starting 8850 to 8900
Round complete, starting 8900 to 8950
Round complete, starting 8950 to 9000
Round complete, starting 9000 to 9050
Round complete, starting 9050 to 9100
Round complete, starting 9100 to 9150
Round complete, starting 9150 to 9200
Round complete, starting 9200 to 9250
Round complete, starting 9250 to 9300
Round complete, starting 9300 to 9350
Round complete, starting 9350 to 9400
Round complete, starting 9400 to 9450
Round complete, starting 9450 to 9500
Round complete, starting 9500 to 9550
Round complete, starting 9550 to 9600
Round complete, starting 9600 to 9650
Round complete, starting 9650 to 9700
Round complete, starting 9700 to 9750
Round complete, starting 9750 to 9800
Round complete, starting 9800 to 9850
Round complete, starting 9850 to 9900
Round complete, starting 9900 to 9950
Round complete, starting 9950 to 10000
Round complete, starting 10000 to 10050
Round complete, starting 10050 to 10100
Round complete, starting 10100 to 10150
Round complete, starting 10150 to 10200
Round complete, starting 10200 to 10250
Round complete, starting 10250 to 10300
Round complete, starting 10300 to 10350
Round complete, starting 10350 to 10400
Round complete, starting 10400 to 10450
Round complete, starting 10450 to 10500
Round complete, starting 10500 to 10550
Round complete, starting 10550 to 10600
Round complete, starting 10600 to 10650
Round complete, starting 10650 to 10700
Round complete, starting 10700 to 10750
Round complete, starting 10750 to 10800
Round complete, starting 10800 to 10850
Round complete, starting 10850 to 10900
Round complete, starting 10900 to 10950
Round complete, starting 10950 to 11000
Round complete, starting 11000 to 11050

Round complete, starting 11050 to 11100
Round complete, starting 11100 to 11150
Round complete, starting 11150 to 11200
Round complete, starting 11200 to 11250
Round complete, starting 11250 to 11300
Round complete, starting 11300 to 11350
Round complete, starting 11350 to 11400
Round complete, starting 11400 to 11450
Round complete, starting 11450 to 11500
Round complete, starting 11500 to 11550
Round complete, starting 11550 to 11600
Round complete, starting 11600 to 11650
Round complete, starting 11650 to 11700
Round complete, starting 11700 to 11750
Round complete, starting 11750 to 11800
Round complete, starting 11800 to 11850
Round complete, starting 11850 to 11900
Round complete, starting 11900 to 11950
Round complete, starting 11950 to 12000
Round complete, starting 12000 to 12050
Round complete, starting 12050 to 12100
Round complete, starting 12100 to 12150
Round complete, starting 12150 to 12200
Round complete, starting 12200 to 12250
Round complete, starting 12250 to 12300
Round complete, starting 12300 to 12350
Round complete, starting 12350 to 12400
Round complete, starting 12400 to 12450
Round complete, starting 12450 to 12500
Round complete, starting 12500 to 12550
Round complete, starting 12550 to 12600
Round complete, starting 12600 to 12650
Round complete, starting 12650 to 12700
Round complete, starting 12700 to 12750
Round complete, starting 12750 to 12800
Round complete, starting 12800 to 12850
Round complete, starting 12850 to 12900
Round complete, starting 12900 to 12950
Round complete, starting 12950 to 13000
Round complete, starting 13000 to 13050
Round complete, starting 13050 to 13100
Round complete, starting 13100 to 13150
Round complete, starting 13150 to 13200
Round complete, starting 13200 to 13250
Round complete, starting 13250 to 13300
Round complete, starting 13300 to 13350
Round complete, starting 13350 to 13400
Round complete, starting 13400 to 13450
Round complete, starting 13450 to 13500
Round complete, starting 13500 to 13550
Round complete, starting 13550 to 13600
Round complete, starting 13600 to 13650
Round complete, starting 13650 to 13700
Round complete, starting 13700 to 13750
Round complete, starting 13750 to 13800
Round complete, starting 13800 to 13850
Round complete, starting 13850 to 13900
Round complete, starting 13900 to 13950
Round complete, starting 13950 to 14000
Round complete, starting 14000 to 14050
Round complete, starting 14050 to 14100
Round complete, starting 14100 to 14150
Round complete, starting 14150 to 14200
Round complete, starting 14200 to 14250
Round complete, starting 14250 to 14300
Round complete, starting 14300 to 14350
Round complete, starting 14350 to 14400
Round complete, starting 14400 to 14450
Round complete, starting 14450 to 14500
Round complete, starting 14500 to 14550
Round complete, starting 14550 to 14600
Round complete, starting 14600 to 14650
Round complete, starting 14650 to 14700
Round complete, starting 14700 to 14750
Round complete, starting 14750 to 14800
Round complete, starting 14800 to 14850
Round complete, starting 14850 to 14900
Round complete, starting 14900 to 14950
Round complete, starting 14950 to 15000
Round complete, starting 15000 to 15050
Round complete, starting 15050 to 15100
Round complete, starting 15100 to 15150
Round complete, starting 15150 to 15200
Round complete, starting 15200 to 15250
Round complete, starting 15250 to 15300
Round complete, starting 15300 to 15350
Round complete, starting 15350 to 15400
Round complete, starting 15400 to 15450
Round complete, starting 15450 to 15500
Round complete, starting 15500 to 15550
Round complete, starting 15550 to 15600
Round complete, starting 15600 to 15650
Round complete, starting 15650 to 15700
Round complete, starting 15700 to 15750
Round complete, starting 15750 to 15800
Round complete, starting 15800 to 15850
Round complete, starting 15850 to 15900
Round complete, starting 15900 to 15950
Round complete, starting 15950 to 16000
Round complete, starting 16000 to 16050
Round complete, starting 16050 to 16100
Round complete, starting 16100 to 16150
Round complete, starting 16150 to 16200
Round complete, starting 16200 to 16250
Round complete, starting 16250 to 16300
Round complete, starting 16300 to 16350
Round complete, starting 16350 to 16400
Round complete, starting 16400 to 16450
Round complete, starting 16450 to 16500
Round complete, starting 16500 to 16550
Round complete, starting 16550 to 16600
Round complete, starting 16600 to 16650
Round complete, starting 16650 to 16700
Round complete, starting 16700 to 16750
Round complete, starting 16750 to 16800
Round complete, starting 16800 to 16850
Round complete, starting 16850 to 16900
Round complete, starting 16900 to 16950
Round complete, starting 16950 to 17000
Round complete, starting 17000 to 17050
Round complete, starting 17050 to 17100
Round complete, starting 17100 to 17150
Round complete, starting 17150 to 17200
Round complete, starting 17200 to 17250
Round complete, starting 17250 to 17300
Round complete, starting 17300 to 17350
Round complete, starting 17350 to 17400
Round complete, starting 17400 to 17450
Round complete, starting 17450 to 17500
Round complete, starting 17500 to 17550
Round complete, starting 17550 to 17600
Round complete, starting 17600 to 17650
Round complete, starting 17650 to 17700
Round complete, starting 17700 to 17750
Round complete, starting 17750 to 17800
Round complete, starting 17800 to 17850
Round complete, starting 17850 to 17900
Round complete, starting 17900 to 17950
Round complete, starting 17950 to 18000
Round complete, starting 18000 to 18050
Round complete, starting 18050 to 18100
Round complete, starting 18100 to 18150
Round complete, starting 18150 to 18200
Round complete, starting 18200 to 18250
Round complete, starting 18250 to 18300
Round complete, starting 18300 to 18350
Round complete, starting 18350 to 18400
Round complete, starting 18400 to 18450
Round complete, starting 18450 to 18500
Round complete, starting 18500 to 18550
Round complete, starting 18550 to 18600
Round complete, starting 18600 to 18650
Round complete, starting 18650 to 18700
Round complete, starting 18700 to 18750
Round complete, starting 18750 to 18800
Round complete, starting 18800 to 18850
Round complete, starting 18850 to 18900
Round complete, starting 18900 to 18950
Round complete, starting 18950 to 19000
Round complete, starting 19000 to 19050
Round complete, starting 19050 to 19100
Round complete, starting 19100 to 19150
Round complete, starting 19150 to 19200
Round complete, starting 19200 to 19250
Round complete, starting 19250 to 19300
Round complete, starting 19300 to 19350
Round complete, starting 19350 to 19400
Round complete, starting 19400 to 19450
Round complete, starting 19450 to 19500
Round complete, starting 19500 to 19550
Round complete, starting 19550 to 19600
Round complete, starting 19600 to 19650
Round complete, starting 19650 to 19700
Round complete, starting 19700 to 19750
Round complete, starting 19750 to 19800
Round complete, starting 19800 to 19850
Round complete, starting 19850 to 19900
Round complete, starting 19900 to 19950
Round complete, starting 19950 to 20000
Round complete, starting 20000 to 20050
Round complete, starting 20050 to 20100
Round complete, starting 20100 to 20150
Round complete, starting 20150 to 20200
Round complete, starting 20200 to 20250
Round complete, starting 20250 to 20300
Round complete, starting 20300 to 20350
Round complete, starting 20350 to 20400
Round complete, starting 20400 to 20450
Round complete, starting 20450 to 20500
Round complete, starting 20500 to 20550
Round complete, starting 20550 to 20600
Round complete, starting 20600 to 20650
Round complete, starting 20650 to 20700
Round complete, starting 20700 to 20750
Round complete, starting 20750 to 20800
Round complete, starting 20800 to 20850
Round complete, starting 20850 to 20900
Round complete, starting 20900 to 20950
Round complete, starting 20950 to 21000
Round complete, starting 21000 to 21050
Round complete, starting 21050 to 21100
Round complete, starting 21100 to 21150
Round complete, starting 21150 to 21200
Round complete, starting 21200 to 21250
Round complete, starting 21250 to 21300

Round complete, starting 21300 to 21350
Round complete, starting 21350 to 21400
Round complete, starting 21400 to 21450
Round complete, starting 21450 to 21500
Round complete, starting 21500 to 21550
Round complete, starting 21550 to 21600
Round complete, starting 21600 to 21650
Round complete, starting 21650 to 21700
Round complete, starting 21700 to 21750
Round complete, starting 21750 to 21800
Round complete, starting 21800 to 21850
Round complete, starting 21850 to 21900
Round complete, starting 21900 to 21950
Round complete, starting 21950 to 22000
Round complete, starting 22000 to 22050
Round complete, starting 22050 to 22100
Round complete, starting 22100 to 22150
Round complete, starting 22150 to 22200
Round complete, starting 22200 to 22250
Round complete, starting 22250 to 22300
Round complete, starting 22300 to 22350
Round complete, starting 22350 to 22400
Round complete, starting 22400 to 22450
Round complete, starting 22450 to 22500
Round complete, starting 22500 to 22550
Round complete, starting 22550 to 22600
Round complete, starting 22600 to 22650
Round complete, starting 22650 to 22700
Round complete, starting 22700 to 22750
Round complete, starting 22750 to 22800
Round complete, starting 22800 to 22850
Round complete, starting 22850 to 22900
Round complete, starting 22900 to 22950
Round complete, starting 22950 to 23000
Round complete, starting 23000 to 23050
Round complete, starting 23050 to 23100
Round complete, starting 23100 to 23150
Round complete, starting 23150 to 23200
Round complete, starting 23200 to 23250
Round complete, starting 23250 to 23300
Round complete, starting 23300 to 23350
Round complete, starting 23350 to 23400
Round complete, starting 23400 to 23450
Round complete, starting 23450 to 23500
Round complete, starting 23500 to 23550
Round complete, starting 23550 to 23600
Round complete, starting 23600 to 23650
Round complete, starting 23650 to 23700
Round complete, starting 23700 to 23750
Round complete, starting 23750 to 23800
Round complete, starting 23800 to 23850
Round complete, starting 23850 to 23900
Round complete, starting 23900 to 23950
Round complete, starting 23950 to 24000
Round complete, starting 24000 to 24050
Round complete, starting 24050 to 24100
Round complete, starting 24100 to 24150
Round complete, starting 24150 to 24200
Round complete, starting 24200 to 24250
Round complete, starting 24250 to 24300
Round complete, starting 24300 to 24350
Round complete, starting 24350 to 24400
Round complete, starting 24400 to 24450
Round complete, starting 24450 to 24500
Round complete, starting 24500 to 24550
Round complete, starting 24550 to 24600
Round complete, starting 24600 to 24650
Round complete, starting 24650 to 24700
Round complete, starting 24700 to 24750
Round complete, starting 24750 to 24800
Round complete, starting 24800 to 24850
Round complete, starting 24850 to 24900
Round complete, starting 24900 to 24950
Round complete, starting 24950 to 25000
Round complete, starting 25000 to 25050
Round complete, starting 25050 to 25100
Round complete, starting 25100 to 25150
Round complete, starting 25150 to 25200
Round complete, starting 25200 to 25250
Round complete, starting 25250 to 25300
Round complete, starting 25300 to 25350
Round complete, starting 25350 to 25400
Round complete, starting 25400 to 25450
Round complete, starting 25450 to 25500
Round complete, starting 25500 to 25550
Round complete, starting 25550 to 25600
Round complete, starting 25600 to 25650
Round complete, starting 25650 to 25700
Round complete, starting 25700 to 25750
Round complete, starting 25750 to 25800
Round complete, starting 25800 to 25850
Round complete, starting 25850 to 25900
Round complete, starting 25900 to 25950
Round complete, starting 25950 to 26000
Round complete, starting 26000 to 26050
Round complete, starting 26050 to 26100
Round complete, starting 26100 to 26150
Round complete, starting 26150 to 26200
Round complete, starting 26200 to 26250
Round complete, starting 26250 to 26300
Round complete, starting 26300 to 26350
Round complete, starting 26350 to 26400
Round complete, starting 26400 to 26450
Round complete, starting 26450 to 26500
Round complete, starting 26500 to 26550
Round complete, starting 26550 to 26600
Round complete, starting 26600 to 26650
Round complete, starting 26650 to 26700
Round complete, starting 26700 to 26750
Round complete, starting 26750 to 26800
Round complete, starting 26800 to 26850
Round complete, starting 26850 to 26900
Round complete, starting 26900 to 26950
Round complete, starting 26950 to 27000
Round complete, starting 27000 to 27050
Round complete, starting 27050 to 27100
Round complete, starting 27100 to 27150
Round complete, starting 27150 to 27200
Round complete, starting 27200 to 27250
Round complete, starting 27250 to 27300
Round complete, starting 27300 to 27350
Round complete, starting 27350 to 27400
Round complete, starting 27400 to 27450
Round complete, starting 27450 to 27500
Round complete, starting 27500 to 27550
Round complete, starting 27550 to 27600
Round complete, starting 27600 to 27650
Round complete, starting 27650 to 27700
Round complete, starting 27700 to 27750
Round complete, starting 27750 to 27800
Round complete, starting 27800 to 27850
Round complete, starting 27850 to 27900
Round complete, starting 27900 to 27950
Round complete, starting 27950 to 28000
Round complete, starting 28000 to 28050
Round complete, starting 28050 to 28100
Round complete, starting 28100 to 28150
Round complete, starting 28150 to 28200
Round complete, starting 28200 to 28250
Round complete, starting 28250 to 28300
Round complete, starting 28300 to 28350
Round complete, starting 28350 to 28400
Round complete, starting 28400 to 28450
Round complete, starting 28450 to 28500
Round complete, starting 28500 to 28550
Round complete, starting 28550 to 28600
Round complete, starting 28600 to 28650
Round complete, starting 28650 to 28700
Round complete, starting 28700 to 28750
Round complete, starting 28750 to 28800
Round complete, starting 28800 to 28850
Round complete, starting 28850 to 28900
Round complete, starting 28900 to 28950
Round complete, starting 28950 to 29000
Round complete, starting 29000 to 29050
Round complete, starting 29050 to 29100
Round complete, starting 29100 to 29150
Round complete, starting 29150 to 29200
Round complete, starting 29200 to 29250
Round complete, starting 29250 to 29300
Round complete, starting 29300 to 29350
Round complete, starting 29350 to 29400
Round complete, starting 29400 to 29450
Round complete, starting 29450 to 29500
Round complete, starting 29500 to 29550
Round complete, starting 29550 to 29600
Round complete, starting 29600 to 29650
Round complete, starting 29650 to 29700
Round complete, starting 29700 to 29750
Round complete, starting 29750 to 29800
Round complete, starting 29800 to 29850
Round complete, starting 29850 to 29900
Round complete, starting 29900 to 29950
Round complete, starting 29950 to 30000
Round complete, starting 30000 to 30050
Round complete, starting 30050 to 30100
Round complete, starting 30100 to 30150
Round complete, starting 30150 to 30200
Round complete, starting 30200 to 30250
Round complete, starting 30250 to 30300
Round complete, starting 30300 to 30350
Round complete, starting 30350 to 30400
Round complete, starting 30400 to 30450
Round complete, starting 30450 to 30500
Round complete, starting 30500 to 30550
Round complete, starting 30550 to 30600
Round complete, starting 30600 to 30650
Round complete, starting 30650 to 30700
Round complete, starting 30700 to 30750
Round complete, starting 30750 to 30800
Round complete, starting 30800 to 30850
Round complete, starting 30850 to 30900
Round complete, starting 30900 to 30950
Round complete, starting 30950 to 31000
Round complete, starting 31000 to 31050
Round complete, starting 31050 to 31100
Round complete, starting 31100 to 31150
Round complete, starting 31150 to 31200
Round complete, starting 31200 to 31250
Round complete, starting 31250 to 31300
Round complete, starting 31300 to 31350
Round complete, starting 31350 to 31400
Round complete, starting 31400 to 31450
Round complete, starting 31450 to 31500
Round complete, starting 31500 to 31550
Round complete, starting 31550 to 31600
Round complete, starting 31600 to 31650

Round complete, starting 31650 to 31700
Round complete, starting 31700 to 31750
Round complete, starting 31750 to 31800
Round complete, starting 31800 to 31850
Round complete, starting 31850 to 31900
Round complete, starting 31900 to 31950
Round complete, starting 31950 to 32000
Round complete, starting 32000 to 32050
Round complete, starting 32050 to 32100
Round complete, starting 32100 to 32150
Round complete, starting 32150 to 32200
Round complete, starting 32200 to 32250
Round complete, starting 32250 to 32300
Round complete, starting 32300 to 32350
Round complete, starting 32350 to 32400
Round complete, starting 32400 to 32450
Round complete, starting 32450 to 32500
Round complete, starting 32500 to 32550
Round complete, starting 32550 to 32600
Round complete, starting 32600 to 32650
Round complete, starting 32650 to 32700
Round complete, starting 32700 to 32750
Round complete, starting 32750 to 32800
Round complete, starting 32800 to 32850
Round complete, starting 32850 to 32900
Round complete, starting 32900 to 32950
Round complete, starting 32950 to 33000
Round complete, starting 33000 to 33050
Round complete, starting 33050 to 33100
Round complete, starting 33100 to 33150
Round complete, starting 33150 to 33200
Round complete, starting 33200 to 33250
Round complete, starting 33250 to 33300
Round complete, starting 33300 to 33350
Round complete, starting 33350 to 33400
Round complete, starting 33400 to 33450
Round complete, starting 33450 to 33500
Round complete, starting 33500 to 33550
Round complete, starting 33550 to 33600
Round complete, starting 33600 to 33650
Round complete, starting 33650 to 33700
Round complete, starting 33700 to 33750
Round complete, starting 33750 to 33800
Round complete, starting 33800 to 33850
Round complete, starting 33850 to 33900
Round complete, starting 33900 to 33950
Round complete, starting 33950 to 34000
Round complete, starting 34000 to 34050
Round complete, starting 34050 to 34100
Round complete, starting 34100 to 34150
Round complete, starting 34150 to 34200
Round complete, starting 34200 to 34250
Round complete, starting 34250 to 34300
Round complete, starting 34300 to 34350
Round complete, starting 34350 to 34400
Round complete, starting 34400 to 34450
Round complete, starting 34450 to 34500
Round complete, starting 34500 to 34550
Round complete, starting 34550 to 34600
Round complete, starting 34600 to 34650
Round complete, starting 34650 to 34700
Round complete, starting 34700 to 34750
Round complete, starting 34750 to 34800
Round complete, starting 34800 to 34850
Round complete, starting 34850 to 34900
Round complete, starting 34900 to 34950
Round complete, starting 34950 to 35000
Round complete, starting 35000 to 35050
Round complete, starting 35050 to 35100
Round complete, starting 35100 to 35150
Round complete, starting 35150 to 35200
Round complete, starting 35200 to 35250
Round complete, starting 35250 to 35300
Round complete, starting 35300 to 35350
Round complete, starting 35350 to 35400
Round complete, starting 35400 to 35450
Round complete, starting 35450 to 35500
Round complete, starting 35500 to 35550
Round complete, starting 35550 to 35600
Round complete, starting 35600 to 35650
Round complete, starting 35650 to 35700
Round complete, starting 35700 to 35750
Round complete, starting 35750 to 35800
Round complete, starting 35800 to 35850
Round complete, starting 35850 to 35900
Round complete, starting 35900 to 35950
Round complete, starting 35950 to 36000
Round complete, starting 36000 to 36050
Round complete, starting 36050 to 36100
Round complete, starting 36100 to 36150
Round complete, starting 36150 to 36200
Round complete, starting 36200 to 36250
Round complete, starting 36250 to 36300
Round complete, starting 36300 to 36350
Round complete, starting 36350 to 36400
Round complete, starting 36400 to 36450
Round complete, starting 36450 to 36500
Round complete, starting 36500 to 36550
Round complete, starting 36550 to 36600
Round complete, starting 36600 to 36650
Round complete, starting 36650 to 36700
Round complete, starting 36700 to 36750
Round complete, starting 36750 to 36800
Round complete, starting 36800 to 36850
Round complete, starting 36850 to 36900
Round complete, starting 36900 to 36950
Round complete, starting 36950 to 37000
Round complete, starting 37000 to 37050
Round complete, starting 37050 to 37100
Round complete, starting 37100 to 37150
Round complete, starting 37150 to 37200
Round complete, starting 37200 to 37250
Round complete, starting 37250 to 37300
Round complete, starting 37300 to 37350
Round complete, starting 37350 to 37400
Round complete, starting 37400 to 37450
Round complete, starting 37450 to 37500
Round complete, starting 37500 to 37550
Round complete, starting 37550 to 37600
Round complete, starting 37600 to 37650
Round complete, starting 37650 to 37700
Round complete, starting 37700 to 37750
Round complete, starting 37750 to 37800
Round complete, starting 37800 to 37850
Round complete, starting 37850 to 37900
Round complete, starting 37900 to 37950
Round complete, starting 37950 to 38000
Round complete, starting 38000 to 38050
Round complete, starting 38050 to 38100
Round complete, starting 38100 to 38150
Round complete, starting 38150 to 38200
Round complete, starting 38200 to 38250
Round complete, starting 38250 to 38300
Round complete, starting 38300 to 38350
Round complete, starting 38350 to 38400
Round complete, starting 38400 to 38450
Round complete, starting 38450 to 38500
Round complete, starting 38500 to 38550
Round complete, starting 38550 to 38600
Round complete, starting 38600 to 38650
Round complete, starting 38650 to 38700
Round complete, starting 38700 to 38750
Round complete, starting 38750 to 38800
Round complete, starting 38800 to 38850
Round complete, starting 38850 to 38900
Round complete, starting 38900 to 38950
Round complete, starting 38950 to 39000
Round complete, starting 39000 to 39050
Round complete, starting 39050 to 39100
Round complete, starting 39100 to 39150
Round complete, starting 39150 to 39200
Round complete, starting 39200 to 39250
Round complete, starting 39250 to 39300
Round complete, starting 39300 to 39350
Round complete, starting 39350 to 39400
Round complete, starting 39400 to 39450
Round complete, starting 39450 to 39500
Round complete, starting 39500 to 39550
Round complete, starting 39550 to 39600
Round complete, starting 39600 to 39650
Round complete, starting 39650 to 39700
Round complete, starting 39700 to 39750
Round complete, starting 39750 to 39800
Round complete, starting 39800 to 39850
Round complete, starting 39850 to 39900
Round complete, starting 39900 to 39950
Round complete, starting 39950 to 40000
Round complete, starting 40000 to 40050
Round complete, starting 40050 to 40100
Round complete, starting 40100 to 40150
Round complete, starting 40150 to 40200
Round complete, starting 40200 to 40250
Round complete, starting 40250 to 40300
Round complete, starting 40300 to 40350
Round complete, starting 40350 to 40400
Round complete, starting 40400 to 40450
Round complete, starting 40450 to 40500
Round complete, starting 40500 to 40550
Round complete, starting 40550 to 40600
Round complete, starting 40600 to 40650
Round complete, starting 40650 to 40700
Round complete, starting 40700 to 40750
Round complete, starting 40750 to 40800
Round complete, starting 40800 to 40850
Round complete, starting 40850 to 40900
Round complete, starting 40900 to 40950
Round complete, starting 40950 to 41000
Round complete, starting 41000 to 41050
Round complete, starting 41050 to 41100
Round complete, starting 41100 to 41150
Round complete, starting 41150 to 41200
Round complete, starting 41200 to 41250
Round complete, starting 41250 to 41300
Round complete, starting 41300 to 41350
Round complete, starting 41350 to 41400
Round complete, starting 41400 to 41450
Round complete, starting 41450 to 41500
Round complete, starting 41500 to 41550
Round complete, starting 41550 to 41600
Round complete, starting 41600 to 41650
Round complete, starting 41650 to 41700
Round complete, starting 41700 to 41750
Round complete, starting 41750 to 41800
Round complete, starting 41800 to 41850
Round complete, starting 41850 to 41900
Round complete, starting 41900 to 41950
Round complete, starting 41950 to 42000
Round complete, starting 42000 to 42050
Round complete, starting 42050 to 42100

Round complete, starting 42100 to 42150
Round complete, starting 42150 to 42200
Round complete, starting 42200 to 42250
Round complete, starting 42250 to 42300
Round complete, starting 42300 to 42350
Round complete, starting 42350 to 42400
Round complete, starting 42400 to 42450
Round complete, starting 42450 to 42500
Round complete, starting 42500 to 42550
Round complete, starting 42550 to 42600
Round complete, starting 42600 to 42650
Round complete, starting 42650 to 42700
Round complete, starting 42700 to 42750
Round complete, starting 42750 to 42800
Round complete, starting 42800 to 42850
Round complete, starting 42850 to 42900
Round complete, starting 42900 to 42950
Round complete, starting 42950 to 43000
Round complete, starting 43000 to 43050
Round complete, starting 43050 to 43100
Round complete, starting 43100 to 43150
Round complete, starting 43150 to 43200
Round complete, starting 43200 to 43250
Round complete, starting 43250 to 43300
Round complete, starting 43300 to 43350
Round complete, starting 43350 to 43400
Round complete, starting 43400 to 43450
Round complete, starting 43450 to 43500
Round complete, starting 43500 to 43550
Round complete, starting 43550 to 43600
Round complete, starting 43600 to 43650
Round complete, starting 43650 to 43700
Round complete, starting 43700 to 43750
Round complete, starting 43750 to 43800
Round complete, starting 43800 to 43850
Round complete, starting 43850 to 43900
Round complete, starting 43900 to 43950
Round complete, starting 43950 to 44000
Round complete, starting 44000 to 44050
Round complete, starting 44050 to 44100
Round complete, starting 44100 to 44150
Round complete, starting 44150 to 44200
Round complete, starting 44200 to 44250
Round complete, starting 44250 to 44300
Round complete, starting 44300 to 44350
Round complete, starting 44350 to 44400
Round complete, starting 44400 to 44450
Round complete, starting 44450 to 44500
Round complete, starting 44500 to 44550
Round complete, starting 44550 to 44600
Round complete, starting 44600 to 44650
Round complete, starting 44650 to 44700
Round complete, starting 44700 to 44750
Round complete, starting 44750 to 44800
Round complete, starting 44800 to 44850
Round complete, starting 44850 to 44900
Round complete, starting 44900 to 44950
Round complete, starting 44950 to 45000
Round complete, starting 45000 to 45050
Round complete, starting 45050 to 45100
Round complete, starting 45100 to 45150
Round complete, starting 45150 to 45200
Round complete, starting 45200 to 45250
Round complete, starting 45250 to 45300
Round complete, starting 45300 to 45350
Round complete, starting 45350 to 45400
Round complete, starting 45400 to 45450
Round complete, starting 45450 to 45500
Round complete, starting 45500 to 45550
Round complete, starting 45550 to 45600
Round complete, starting 45600 to 45650
Round complete, starting 45650 to 45700
Round complete, starting 45700 to 45750
Round complete, starting 45750 to 45800
Round complete, starting 45800 to 45850
Round complete, starting 45850 to 45900
Round complete, starting 45900 to 45950
Round complete, starting 45950 to 46000
Round complete, starting 46000 to 46050
Round complete, starting 46050 to 46100
Round complete, starting 46100 to 46150
Round complete, starting 46150 to 46200
Round complete, starting 46200 to 46250
Round complete, starting 46250 to 46300
Round complete, starting 46300 to 46350
Round complete, starting 46350 to 46400
Round complete, starting 46400 to 46450
Round complete, starting 46450 to 46500
Round complete, starting 46500 to 46550
Round complete, starting 46550 to 46600
Round complete, starting 46600 to 46650
Round complete, starting 46650 to 46700
Round complete, starting 46700 to 46750
Round complete, starting 46750 to 46800
Round complete, starting 46800 to 46850
Round complete, starting 46850 to 46900
Round complete, starting 46900 to 46950
Round complete, starting 46950 to 47000
Round complete, starting 47000 to 47050
Round complete, starting 47050 to 47100
Round complete, starting 47100 to 47150
Round complete, starting 47150 to 47200
Round complete, starting 47200 to 47250
Round complete, starting 47250 to 47300
Round complete, starting 47300 to 47350
Round complete, starting 47350 to 47400
Round complete, starting 47400 to 47450
Round complete, starting 47450 to 47500
Round complete, starting 47500 to 47550
Round complete, starting 47550 to 47600
Round complete, starting 47600 to 47650
Round complete, starting 47650 to 47700
Round complete, starting 47700 to 47750
Round complete, starting 47750 to 47800
Round complete, starting 47800 to 47850
Round complete, starting 47850 to 47900
Round complete, starting 47900 to 47950
Round complete, starting 47950 to 48000
Round complete, starting 48000 to 48050
Round complete, starting 48050 to 48100
Round complete, starting 48100 to 48150
Round complete, starting 48150 to 48200
Round complete, starting 48200 to 48250
Round complete, starting 48250 to 48300
Round complete, starting 48300 to 48350
Round complete, starting 48350 to 48400
Round complete, starting 48400 to 48450
Round complete, starting 48450 to 48500
Round complete, starting 48500 to 48550
Round complete, starting 48550 to 48600
Round complete, starting 48600 to 48650
Round complete, starting 48650 to 48700
Round complete, starting 48700 to 48750
Round complete, starting 48750 to 48800
Round complete, starting 48800 to 48850
Round complete, starting 48850 to 48900
Round complete, starting 48900 to 48950
Round complete, starting 48950 to 49000
Round complete, starting 49000 to 49050
Round complete, starting 49050 to 49100
Round complete, starting 49100 to 49150
Round complete, starting 49150 to 49200
Round complete, starting 49200 to 49250
Round complete, starting 49250 to 49300
Round complete, starting 49300 to 49350
Round complete, starting 49350 to 49400
Round complete, starting 49400 to 49450
Round complete, starting 49450 to 49500
Round complete, starting 49500 to 49550
Round complete, starting 49550 to 49600
Round complete, starting 49600 to 49650
Round complete, starting 49650 to 49700
Round complete, starting 49700 to 49750
Round complete, starting 49750 to 49800
Round complete, starting 49800 to 49850
Round complete, starting 49850 to 49900
Round complete, starting 49900 to 49950
Round complete, starting 49950 to 50000
Round complete, starting 50000 to 50050
Round complete, starting 50050 to 50100
Round complete, starting 50100 to 50150
Round complete, starting 50150 to 50200
Round complete, starting 50200 to 50250
Round complete, starting 50250 to 50300
Round complete, starting 50300 to 50350
Round complete, starting 50350 to 50400
Round complete, starting 50400 to 50450
Round complete, starting 50450 to 50500
Round complete, starting 50500 to 50550
Round complete, starting 50550 to 50600
Round complete, starting 50600 to 50650
Round complete, starting 50650 to 50700
Round complete, starting 50700 to 50750
Round complete, starting 50750 to 50800
Round complete, starting 50800 to 50850
Round complete, starting 50850 to 50900
Round complete, starting 50900 to 50950
Round complete, starting 50950 to 51000
Round complete, starting 51000 to 51050
Round complete, starting 51050 to 51100
Round complete, starting 51100 to 51150
Round complete, starting 51150 to 51200
Round complete, starting 51200 to 51250
Round complete, starting 51250 to 51300
Round complete, starting 51300 to 51350
Round complete, starting 51350 to 51400
Round complete, starting 51400 to 51450
Round complete, starting 51450 to 51500
Round complete, starting 51500 to 51550
Round complete, starting 51550 to 51600
Round complete, starting 51600 to 51650
Round complete, starting 51650 to 51700
Round complete, starting 51700 to 51750
Round complete, starting 51750 to 51800
Round complete, starting 51800 to 51850
Round complete, starting 51850 to 51900
Round complete, starting 51900 to 51950
Round complete, starting 51950 to 52000
Round complete, starting 52000 to 52050
Round complete, starting 52050 to 52100
Round complete, starting 52100 to 52150
Round complete, starting 52150 to 52200
Round complete, starting 52200 to 52250
Round complete, starting 52250 to 52300
Round complete, starting 52300 to 52350
Round complete, starting 52350 to 52400
Round complete, starting 52400 to 52450
Round complete, starting 52450 to 52500
Round complete, starting 52500 to 52550

Round complete, starting 52550 to 52600
Round complete, starting 52600 to 52650
Round complete, starting 52650 to 52700
Round complete, starting 52700 to 52750
Round complete, starting 52750 to 52800
Round complete, starting 52800 to 52850
Round complete, starting 52850 to 52900
Round complete, starting 52900 to 52950
Round complete, starting 52950 to 53000
Round complete, starting 53000 to 53050
Round complete, starting 53050 to 53100
Round complete, starting 53100 to 53150
Round complete, starting 53150 to 53200
Round complete, starting 53200 to 53250
Round complete, starting 53250 to 53300
Round complete, starting 53300 to 53350
Round complete, starting 53350 to 53400
Round complete, starting 53400 to 53450
Round complete, starting 53450 to 53500
Round complete, starting 53500 to 53550
Round complete, starting 53550 to 53600
Round complete, starting 53600 to 53650
Round complete, starting 53650 to 53700
Round complete, starting 53700 to 53750
Round complete, starting 53750 to 53800
Round complete, starting 53800 to 53850
Round complete, starting 53850 to 53900
Round complete, starting 53900 to 53950
Round complete, starting 53950 to 54000
Round complete, starting 54000 to 54050
Round complete, starting 54050 to 54100
Round complete, starting 54100 to 54150
Round complete, starting 54150 to 54200
Round complete, starting 54200 to 54250
Round complete, starting 54250 to 54300
Round complete, starting 54300 to 54350
Round complete, starting 54350 to 54400
Round complete, starting 54400 to 54450
Round complete, starting 54450 to 54500
Round complete, starting 54500 to 54550
Round complete, starting 54550 to 54600
Round complete, starting 54600 to 54650
Round complete, starting 54650 to 54700
Round complete, starting 54700 to 54750
Round complete, starting 54750 to 54800
Round complete, starting 54800 to 54850
Round complete, starting 54850 to 54900
Round complete, starting 54900 to 54950
Round complete, starting 54950 to 55000
Round complete, starting 55000 to 55050
Round complete, starting 55050 to 55100
Round complete, starting 55100 to 55150
Round complete, starting 55150 to 55200
Round complete, starting 55200 to 55250
Round complete, starting 55250 to 55300
Round complete, starting 55300 to 55350
Round complete, starting 55350 to 55400
Round complete, starting 55400 to 55450
Round complete, starting 55450 to 55500
Round complete, starting 55500 to 55550
Round complete, starting 55550 to 55600
Round complete, starting 55600 to 55650
Round complete, starting 55650 to 55700
Round complete, starting 55700 to 55750
Round complete, starting 55750 to 55800
Round complete, starting 55800 to 55850
Round complete, starting 55850 to 55900
Round complete, starting 55900 to 55950
Round complete, starting 55950 to 56000
Round complete, starting 56000 to 56050
Round complete, starting 56050 to 56100
Round complete, starting 56100 to 56150
Round complete, starting 56150 to 56200
Round complete, starting 56200 to 56250
Round complete, starting 56250 to 56300
Round complete, starting 56300 to 56350
Round complete, starting 56350 to 56400
Round complete, starting 56400 to 56450
Round complete, starting 56450 to 56500
Round complete, starting 56500 to 56550
Round complete, starting 56550 to 56600
Round complete, starting 56600 to 56650
Round complete, starting 56650 to 56700
Round complete, starting 56700 to 56750
Round complete, starting 56750 to 56800
Round complete, starting 56800 to 56850
Round complete, starting 56850 to 56900
Round complete, starting 56900 to 56950
Round complete, starting 56950 to 57000
Round complete, starting 57000 to 57050
Round complete, starting 57050 to 57100
Round complete, starting 57100 to 57150
Round complete, starting 57150 to 57200
Round complete, starting 57200 to 57250
Round complete, starting 57250 to 57300
Round complete, starting 57300 to 57350
Round complete, starting 57350 to 57400
Round complete, starting 57400 to 57450
Round complete, starting 57450 to 57500
Round complete, starting 57500 to 57550
Round complete, starting 57550 to 57600
Round complete, starting 57600 to 57650
Round complete, starting 57650 to 57700
Round complete, starting 57700 to 57750
Round complete, starting 57750 to 57800
Round complete, starting 57800 to 57850
Round complete, starting 57850 to 57900
Round complete, starting 57900 to 57950
Round complete, starting 57950 to 58000
Round complete, starting 58000 to 58050
Round complete, starting 58050 to 58100
Round complete, starting 58100 to 58150
Round complete, starting 58150 to 58200
Round complete, starting 58200 to 58250
Round complete, starting 58250 to 58300
Round complete, starting 58300 to 58350
Round complete, starting 58350 to 58400
Round complete, starting 58400 to 58450
Round complete, starting 58450 to 58500
Round complete, starting 58500 to 58550
Round complete, starting 58550 to 58600
Round complete, starting 58600 to 58650
Round complete, starting 58650 to 58700
Round complete, starting 58700 to 58750
Round complete, starting 58750 to 58800
Round complete, starting 58800 to 58850
Round complete, starting 58850 to 58900
Round complete, starting 58900 to 58950
Round complete, starting 58950 to 59000
Round complete, starting 59000 to 59050
Round complete, starting 59050 to 59100
Round complete, starting 59100 to 59150
Round complete, starting 59150 to 59200
Round complete, starting 59200 to 59250
Round complete, starting 59250 to 59300
Round complete, starting 59300 to 59350
Round complete, starting 59350 to 59400
Round complete, starting 59400 to 59450
Round complete, starting 59450 to 59500
Round complete, starting 59500 to 59550
Round complete, starting 59550 to 59600
Round complete, starting 59600 to 59650
Round complete, starting 59650 to 59700
Round complete, starting 59700 to 59750
Round complete, starting 59750 to 59800
Round complete, starting 59800 to 59850
Round complete, starting 59850 to 59900
Round complete, starting 59900 to 59950
Round complete, starting 59950 to 60000
Round complete, starting 60000 to 60050
Round complete, starting 60050 to 60100
Round complete, starting 60100 to 60150
Round complete, starting 60150 to 60200
Round complete, starting 60200 to 60250
Round complete, starting 60250 to 60300
Round complete, starting 60300 to 60350
Round complete, starting 60350 to 60400
Round complete, starting 60400 to 60450
Round complete, starting 60450 to 60500
Round complete, starting 60500 to 60550
Round complete, starting 60550 to 60600
Round complete, starting 60600 to 60650
Round complete, starting 60650 to 60700
Round complete, starting 60700 to 60750
Round complete, starting 60750 to 60800
Round complete, starting 60800 to 60850
Round complete, starting 60850 to 60900
Round complete, starting 60900 to 60950
Round complete, starting 60950 to 61000
Round complete, starting 61000 to 61050
Round complete, starting 61050 to 61100
Round complete, starting 61100 to 61150
Round complete, starting 61150 to 61200
Round complete, starting 61200 to 61250
Round complete, starting 61250 to 61300
Round complete, starting 61300 to 61350
Round complete, starting 61350 to 61400
Round complete, starting 61400 to 61450
Round complete, starting 61450 to 61500
Round complete, starting 61500 to 61550
Round complete, starting 61550 to 61600
Round complete, starting 61600 to 61650
Round complete, starting 61650 to 61700
Round complete, starting 61700 to 61750
Round complete, starting 61750 to 61800
Round complete, starting 61800 to 61850
Round complete, starting 61850 to 61900
Round complete, starting 61900 to 61950
Round complete, starting 61950 to 62000
Round complete, starting 62000 to 62050
Round complete, starting 62050 to 62100
Round complete, starting 62100 to 62150
Round complete, starting 62150 to 62200
Round complete, starting 62200 to 62250
Round complete, starting 62250 to 62300
Round complete, starting 62300 to 62350
Round complete, starting 62350 to 62400
Round complete, starting 62400 to 62450
Round complete, starting 62450 to 62500
Round complete, starting 62500 to 62550
Round complete, starting 62550 to 62600
Round complete, starting 62600 to 62650
Round complete, starting 62650 to 62700
Round complete, starting 62700 to 62750
Round complete, starting 62750 to 62800
Round complete, starting 62800 to 62850
Round complete, starting 62850 to 62900

Round complete, starting 62900 to 62950

In [14]:
# Declare a base using automap_base()
Base = automap_base()
Base

sqlalchemy.ext.automap.Base

In [15]:
# Use the base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [16]:
# Print all of the classses mapped to the Base (this provides a list of the table names in the sqlite.db)
Base.classes.keys()

['CCES_16']

In [17]:
# Assign the CCES_16 class to a variable called 'CCES'
CCES = Base.classes.CCES_16

In [18]:
### Accuracy Test 1
# Query support for gay marriage from pandas DF and from Sqlite file

ApproveGay = session.query(CCES).filter(CCES.GayMarriage == 'Support').count()
print(f'Sqlite query of votes supporting Gay Marrige: {ApproveGay}')
print(f'Pandas DF Sort of votes supporing Gay Marriage: {GaySupport}')

Sqlite query of votes supporting Gay Marrige: 40955
Pandas DF Sort of votes supporing Gay Marriage: 40955

In [19]:
### Accuracy Test 2
# Query support for Gun Background Checks from pandas DF and Sqlite file
SupportChecks = session.query(CCES).filter(CCES.GunBackgroundChecks_16 == 'Support').count()
print(f'Sqlite support votes: {SupportChecks}')
print(f'Pandas DF support votes: {GunBcSupport}')

Sqlite support votes: 56810
Pandas DF support votes: 56810

In [20]:
### Multi Filter Test 1
# Query Males who support background checks
# Query Females who support background checks
# Total number of support background check votes in Pandas

MaleCheckSupport = session.query(CCES).filter(CCES.gender == 'male').filter(CCES.GunBackgroundChecks_16 == 'Support').count()
FemaleCheckSupport = session.query(CCES).filter(CCES.gender == 'female').filter(CCES.GunBackgroundChecks_16 == 'Support').count()

print(f'Query Male = {MaleCheckSupport}')
print(f'Query Female = {FemaleCheckSupport}')
print('Query total = ', MaleCheckSupport + FemaleCheckSupport)
print(f'Total Support = {GunBcSupport}')

Query Male = 24617
Query Female = 32193
Query total =  56810
Total Support = 56810

In [21]:
# Filter by state how many respondents were supportive of Gun Background Checks

StatesFor = session.query(CCES.StateName, func.count(CCES.GunBackgroundChecks_16)).group_by(CCES.StateName).all()
StatesFor[0:5]

[('Alabama', 764),
 ('Alaska', 109),
 ('Arizona', 1465),
 ('Arkansas', 525),
 ('California', 5860)]