In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
file = "CCES16_Common_OUTPUT_Feb2018_VV-subset.tab"
file_df = pd.read_csv(file, sep='\t')
file_df.head(5)
# "C:\Users\dkrei\Desktop\Coding_Bootcamp\DataBootCamp\CCES_Project2\CCES_Analysis_2016\CCES16_Common_OUTPUT_Feb2018_VV-subset.tab"

,V101,lookupzip,inputstate,countyfips,birthyr,gender,educ,CC16_330a,CC16_330b,CC16_330d,CC16_330e,CC16_332a,CC16_332b,CC16_332c,CC16_332d,CC16_332e,CC16_335
0,222168628,3442,33,33011.0,1969,2,2,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0
1,273691199,70118,22,22071.0,1994,2,2,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,284214415,63851,29,29155.0,1964,2,2,1.0,2.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0
3,287557695,36703,1,1047.0,1988,2,2,1.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0
4,290387662,80526,8,8069.0,1982,2,5,1.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,1.0,1.0

In [3]:
print(file_df.columns)

Index(['V101', 'lookupzip', 'inputstate', 'countyfips', 'birthyr', 'gender',
       'educ', 'CC16_330a', 'CC16_330b', 'CC16_330d', 'CC16_330e', 'CC16_332a',
       'CC16_332b', 'CC16_332c', 'CC16_332d', 'CC16_332e', 'CC16_335'],
      dtype='object')

In [4]:
# Shape before dropping NAN values
file_df.shape

(64600, 17)

In [5]:
StatesCSV = 'state_names.csv'
StatesDf = pd.read_csv(StatesCSV)
StatesDf.head()

        V101      StateName
0  222168628  New Hampshire
1  273691199      Louisiana
2  284214415       Missouri
3  287557695        Alabama
4  290387662       Colorado

In [6]:
FinalDF = pd.merge(file_df, StatesDf, on = 'V101')
FinalDF.head()

,V101,lookupzip,inputstate,countyfips,birthyr,gender,educ,CC16_330a,CC16_330b,CC16_330d,CC16_330e,CC16_332a,CC16_332b,CC16_332c,CC16_332d,CC16_332e,CC16_335,StateName
0,222168628,3442,33,33011.0,1969,2,2,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0,New Hampshire
1,273691199,70118,22,22071.0,1994,2,2,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,Louisiana
2,284214415,63851,29,29155.0,1964,2,2,1.0,2.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,Missouri
3,287557695,36703,1,1047.0,1988,2,2,1.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,Alabama
4,290387662,80526,8,8069.0,1982,2,5,1.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,1.0,1.0,Colorado

In [13]:
# Drop all rows that have an NA in any column

file_df = FinalDF.dropna()

file_df1 = file_df.reset_index()
# Shape of the DF after the NAN values have been dropped

file_df1.shape

(62881, 19)

In [14]:
# drop second index
file_df1 = file_df1.drop(columns=['index', 'inputstate'])

file_df1.head(11)

,V101,lookupzip,countyfips,birthyr,gender,educ,CC16_330a,CC16_330b,CC16_330d,CC16_330e,CC16_332a,CC16_332b,CC16_332c,CC16_332d,CC16_332e,CC16_335,StateName
0,222168628,3442,33011.0,1969,2,2,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0,New Hampshire
1,273691199,70118,22071.0,1994,2,2,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,Louisiana
2,284214415,63851,29155.0,1964,2,2,1.0,2.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,Missouri
3,287557695,36703,1047.0,1988,2,2,1.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,Alabama
4,290387662,80526,8069.0,1982,2,5,1.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,1.0,1.0,Colorado
5,290932100,35816,1089.0,1963,2,2,1.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,2.0,1.0,Alabama
6,292860642,75402,48231.0,1962,1,2,2.0,1.0,2.0,1.0,2.0,2.0,1.0,1.0,1.0,2.0,Texas
7,295367942,16833,42033.0,1991,2,1,1.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,Pennsylvania
8,295717127,30711,13213.0,1963,1,2,2.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,Georgia
9,295859014,17522,42071.0,1957,2,2,1.0,1.0,2.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,Pennsylvania
10,296199019,76904,48451.0,1985,2,3,2.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,Texas

In [15]:
file_dfRename = file_df1.rename(columns = {
    'CC16_330a':'GunBackgroundChecks_16',
    'CC16_330b':'ProhibitPublication_16',
    'CC16_330d':'BanAssultWeapons_16',
    'CC16_330e':'MakeCCPEasier_16',
    'CC16_332a':'AlwaysAllowChoice_16',
    'CC16_332b':'RapeIncestorHealth_16',
    'CC16_332c':'ProhibitMoreThan20Weeks_16',
    'CC16_332d':'EmployersDeclineBenefits_16',
    'CC16_332e':'ProhibitFedFunds_16',
    'CC16_335': 'GayMarriage'
})

print(file_dfRename.columns)

Index(['V101', 'lookupzip', 'countyfips', 'birthyr', 'gender', 'educ',
       'GunBackgroundChecks_16', 'ProhibitPublication_16',
       'BanAssultWeapons_16', 'MakeCCPEasier_16', 'AlwaysAllowChoice_16',
       'RapeIncestorHealth_16', 'ProhibitMoreThan20Weeks_16',
       'EmployersDeclineBenefits_16', 'ProhibitFedFunds_16', 'GayMarriage',
       'StateName'],
      dtype='object')

In [16]:
CCES_df = file_dfRename[['V101', 'lookupzip', 'StateName', 'countyfips', 'birthyr', 'gender', 'educ',
       'GunBackgroundChecks_16', 'ProhibitPublication_16',
       'BanAssultWeapons_16', 'MakeCCPEasier_16', 'AlwaysAllowChoice_16',
       'RapeIncestorHealth_16', 'ProhibitMoreThan20Weeks_16',
       'EmployersDeclineBenefits_16', 'ProhibitFedFunds_16', 'GayMarriage']]
CCES_df.head(5)

,V101,lookupzip,StateName,countyfips,birthyr,gender,educ,GunBackgroundChecks_16,ProhibitPublication_16,BanAssultWeapons_16,MakeCCPEasier_16,AlwaysAllowChoice_16,RapeIncestorHealth_16,ProhibitMoreThan20Weeks_16,EmployersDeclineBenefits_16,ProhibitFedFunds_16,GayMarriage
0,222168628,3442,New Hampshire,33011.0,1969,2,2,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0
1,273691199,70118,Louisiana,22071.0,1994,2,2,1.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,284214415,63851,Missouri,29155.0,1964,2,2,1.0,2.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0
3,287557695,36703,Alabama,1047.0,1988,2,2,1.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0
4,290387662,80526,Colorado,8069.0,1982,2,5,1.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,1.0,1.0

In [ ]:
########## Convert some of the coumns from number answers to string value responses

# Convert gender column
CCES_df['gender'] = CCES_df['gender'].apply(lambda x: 'male' if x== 1 else 'female')

# map and convert edu column
CCES_df['educ'] = CCES_df['educ'].map({
                                            1: 'NoHS',
                                            2: 'HS_Grad',
                                            3: 'Some College',
                                            4: '2-year',
                                            5: '4-year',
                                            6: 'Post-Grad'
                                          })

# CC16_330a 1 support, 2 oppose, 8 skipped / Gun Background Checks_16
CCES_df['GunBackgroundChecks_16'] = CCES_df['GunBackgroundChecks_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_330b 1 support, 2 oppose, 8 skipped  'CC16_330b':'Prohibit Publication_16',
CCES_df['ProhibitPublication_16'] = CCES_df['ProhibitPublication_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_330d 1 support, 2 oppose, 8 skipped 'CC16_330d':'Ban Assult Weapons_16',
CCES_df['BanAssultWeapons_16'] = CCES_df['BanAssultWeapons_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_330e 1 support, 2 oppose, 8 skipped 'CC16_330e':'Make CCP Easier_16',
CCES_df['MakeCCPEasier_16'] = CCES_df['MakeCCPEasier_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_332a 1 support, 2 oppose, 8 skipped 'CC16_332a':'Always Allow Choice_16',
CCES_df['AlwaysAllowChoice_16'] = CCES_df['AlwaysAllowChoice_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_332b 1 support, 2 oppose, 8 skipped   'CC16_332b':'Rape, Incest, or Health_16',
CCES_df['RapeIncestorHealth_16'] = CCES_df['RapeIncestorHealth_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_332c 1 support, 2 oppose, 8 skipped 'CC16_332c':'Prohibit MoreThan20 Weeks_16',
CCES_df['ProhibitMoreThan20Weeks_16'] = CCES_df['ProhibitMoreThan20Weeks_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_332d 1 support, 2 oppose, 8 skipped   'CC16_332d':'Employers decline benefits_16',
CCES_df['EmployersDeclineBenefits_16'] = CCES_df['EmployersDeclineBenefits_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_332e 1 support, 2 oppose, 8 skipped  'CC16_332e':'Prohibit Fed Funds_16',
CCES_df['ProhibitFedFunds_16'] = CCES_df['ProhibitFedFunds_16'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

# CC16_335 1 support, 2 oppose, 8 skipped  'CC16_335': 'GayMarriage'
CCES_df['GayMarriage'] = CCES_df['GayMarriage'].map({
    1: 'Support',
    2: 'Oppose',
    8: 'Skipped'
})

In [ ]:
CCES_df.head()

In [ ]:
## Troubleshooting to add up the total responses for each column

GunBcSupport = (len(CCES_df[CCES_df['GunBackgroundChecks_16']=='Support']))
GunBCOppose = (len(CCES_df[CCES_df['GunBackgroundChecks_16']=='Oppose']))
GunBcTotal = (len(CCES_df[CCES_df['GunBackgroundChecks_16']!='none']))
print('Gun Support Total Support: ', GunBcSupport)
print('Total Oppose: ', GunBCOppose)
print('Total Rows: ', GunBcTotal)
print('Total Difference', (GunBcTotal - GunBCOppose - GunBcSupport))
print('--------------------------------------------------------------------------')

ProhibitPubSupport = (len(CCES_df[CCES_df['ProhibitPublication_16']=='Support']))
ProhibitPubOppose = (len(CCES_df[CCES_df['ProhibitPublication_16']=='Oppose']))
ProhibitPubTotal = (len(CCES_df[CCES_df['ProhibitPublication_16']!='none']))
print('Prohibit Publication_16: ', ProhibitPubSupport)
print('Total Oppose: ', ProhibitPubOppose)
print('Total Rows: ', ProhibitPubTotal)
print('Total Difference', (ProhibitPubTotal - ProhibitPubOppose - ProhibitPubSupport))
print('--------------------------------------------------------------------------')
BanAssultSupport = (len(CCES_df[CCES_df['BanAssultWeapons_16']=='Support']))
BanAssultOppose = (len(CCES_df[CCES_df['BanAssultWeapons_16']=='Oppose']))
BanAssultTotal = (len(CCES_df[CCES_df['BanAssultWeapons_16']!='none']))
print('Gun Support Total Support: ', BanAssultSupport)
print('Total Oppose: ', BanAssultOppose)
print('Total Rows: ', BanAssultTotal)
print('Total Difference', (BanAssultTotal - BanAssultOppose - BanAssultSupport))
print('--------------------------------------------------------------------------')
#########################################################################################
CCPSupport = (len(CCES_df[CCES_df['MakeCCPEasier_16']=='Support']))
CCPOppose = (len(CCES_df[CCES_df['MakeCCPEasier_16']=='Oppose']))
CCPTotal = (len(CCES_df[CCES_df['MakeCCPEasier_16']!='none']))
print('Gun Support Total Support: ', CCPSupport)
print('Total Oppose: ', CCPOppose)
print('Total Rows: ', CCPTotal)
print('Total Difference', (CCPTotal - CCPOppose - CCPSupport))
print('--------------------------------------------------------------------------')

AlwaysSupport = (len(CCES_df[CCES_df['AlwaysAllowChoice_16']=='Support']))
AlwaysOppose = (len(CCES_df[CCES_df['AlwaysAllowChoice_16']=='Oppose']))
AlwaysTotal = (len(CCES_df[CCES_df['AlwaysAllowChoice_16']!='none']))
print('Prohibit Publication_16: ', AlwaysSupport)
print('Total Oppose: ', AlwaysOppose)
print('Total Rows: ', AlwaysTotal)
print('Total Difference', (AlwaysTotal - AlwaysOppose - AlwaysSupport))
print('--------------------------------------------------------------------------')
HealthSupport = (len(CCES_df[CCES_df['RapeIncestorHealth_16']=='Support']))
HealthOppose = (len(CCES_df[CCES_df['RapeIncestorHealth_16']=='Oppose']))
HealthTotal = (len(CCES_df[CCES_df['RapeIncestorHealth_16']!='none']))
print('Gun Support Total Support: ', HealthSupport)
print('Total Oppose: ', HealthOppose)
print('Total Rows: ', HealthTotal)
print('Total Difference', (HealthTotal - HealthOppose - HealthSupport))
print('--------------------------------------------------------------------------')

#########################################################################################
MoreThan20Support = (len(CCES_df[CCES_df['ProhibitMoreThan20Weeks_16']=='Support']))
MoreThan20Oppose = (len(CCES_df[CCES_df['ProhibitMoreThan20Weeks_16']=='Oppose']))
MoreThan20Total = (len(CCES_df[CCES_df['ProhibitMoreThan20Weeks_16']!='none']))
print('Gun Support Total Support: ', MoreThan20Support)
print('Total Oppose: ', MoreThan20Oppose)
print('Total Rows: ', MoreThan20Total)
print('Total Difference', (MoreThan20Total - MoreThan20Oppose - MoreThan20Support))
print('--------------------------------------------------------------------------')

DeclineBenSupport = (len(CCES_df[CCES_df['EmployersDeclineBenefits_16']=='Support']))
DeclineBenOppose = (len(CCES_df[CCES_df['EmployersDeclineBenefits_16']=='Oppose']))
DeclineBenTotal = (len(CCES_df[CCES_df['EmployersDeclineBenefits_16']!='none']))
print('Prohibit Publication_16: ', DeclineBenSupport)
print('Total Oppose: ', DeclineBenOppose)
print('Total Rows: ', DeclineBenTotal)
print('Total Difference', (DeclineBenTotal - DeclineBenOppose - DeclineBenSupport))
print('--------------------------------------------------------------------------')
NoFedFundsSupport = (len(CCES_df[CCES_df['ProhibitFedFunds_16']=='Support']))
NoFedFundsOppose = (len(CCES_df[CCES_df['ProhibitFedFunds_16']=='Oppose']))
NoFedFundsTotal = (len(CCES_df[CCES_df['ProhibitFedFunds_16']!='none']))
print('Gun Support Total Support: ', NoFedFundsSupport)
print('Total Oppose: ', NoFedFundsOppose)
print('Total Rows: ', NoFedFundsTotal)
print('Total Difference', (NoFedFundsTotal - NoFedFundsOppose - NoFedFundsSupport))
print('--------------------------------------------------------------------------')

#########################################################################################
GaySupport = (len(CCES_df[CCES_df['GayMarriage']=='Support']))
GayOppose = (len(CCES_df[CCES_df['GayMarriage']=='Oppose']))
GayTotal = (len(CCES_df[CCES_df['GayMarriage']!='none']))
print('GayMarriage Total Support: ', GaySupport)
print('Total Oppose: ', GayOppose)
print('Total Rows: ', GayTotal)
print('Total Difference', (GayTotal - GayOppose - GaySupport))
print('--------------------------------------------------------------------------')

GenderMale = (len(CCES_df[CCES_df['gender']=='male']))
GenderFemale = (len(CCES_df[CCES_df['gender']=='female']))
GenderTotal = (len(CCES_df[CCES_df['gender']!='none']))
print('gender: ', GenderMale)
print('Total Male: ', GenderMale)
print('Total Female: ', GenderFemale)
print('Total Rows: ', GenderTotal)
print('Total Difference', (GenderTotal - GenderFemale - GenderMale))
print('--------------------------------------------------------------------------')

# Education

NoHS = (len(CCES_df[CCES_df['educ']=='NoHS']))
HS_Grad = (len(CCES_df[CCES_df['educ']=='HS_Grad']))
SomeCollege = (len(CCES_df[CCES_df['educ']=='Some College']))
year2 = (len(CCES_df[CCES_df['educ']=='2-year']))
year4= (len(CCES_df[CCES_df['educ']=='4-year']))
PostGrad = (len(CCES_df[CCES_df['educ']=='Post-Grad']))
eduTotal = (len(CCES_df[CCES_df['educ']!='none']))
print('educ Total Support: ' )
print('Total NoHS: ',NoHS )
print('Total HS_Grad: ', HS_Grad)
print('Total SomeCollege: ', SomeCollege)
print('Total year2: ', year2)
print('Total year4: ', year4)
print('Total PostGrad: ', PostGrad)
print('Total Rows: ', eduTotal)
print('Total Difference', (eduTotal - NoHS - HS_Grad- SomeCollege - year2 - year4 - PostGrad ))
print('--------------------------------------------------------------------------')

In [ ]:
# CCES_df.head(60)

In [ ]:
# nafreq = CCES_df.isna().sum()
# nafreq

In [ ]:
# CCES_df.dtypes

In [ ]:
### Reflecting DB
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

In [ ]:
# dataframe name.to_sql('table name', con=engine, if_exists='append')
engine = create_engine("sqlite:///C:/Users/dkrei/Desktop/Coding_Bootcamp/DataBootCamp/CCES_Project2/CCES_Analysis_2016/db/CCES_Ver2829.sqlite")

session = Session(engine)

In [ ]:
#  small_Df.to_sql('CCES_16', con=engine, if_exists='append')
# engine.execute('SELECT * FROM CCES_16').fetchall().head()

In [ ]:
# # Define our Survey table
class Survey(Base):
    __tablename__ = 'CCES_16'
    index = Column(Integer, primary_key=True)
    V101 = Column(Integer)
    lookupzip = Column(Integer)
    StateName = Column(String(255))
    countyfips = Column(Float)
  
    birthyr = Column(Integer)
    gender = Column(String)
    educ = Column(String)
   
    GunBackgroundChecks_16 = Column(String(255))
    ProhibitPublication_16 = Column(String(255))
    BanAssultWeapons_16 = Column(String(255))
    MakeCCPEasier_16 = Column(String(255))
    AlwaysAllowChoice_16 = Column(String(255))
    RapeIncestorHealth_16 = Column(String(255))
    ProhibitMoreThan20Weeks_16 = Column(String(255))
    Employersdeclinebenefits_16 = Column(String(255))
    ProhibitFedFunds_16 = Column(String(255))
    GayMarriage = Column(String(255))

In [ ]:
# Create the CCES_16 table within the database

Base.metadata.create_all(engine)

In [ ]:
# Loop to transfer/write the DF data into the sqlite file.
# The only way I could get this to work was in a loop where the notebook wasn't trying to write more than 50 rows at a time.

x1 = 0
x2 = 50

while x1 < 62881:
    
    tempDF = CCES_df.iloc[x1:x2]
    tempDF.to_sql('CCES_16', con=engine, if_exists='append')
    x1 += 50
    x2 += 50
    print('Round complete, starting', x1, 'to', x2)

In [ ]:
# Declare a base using automap_base()
Base = automap_base()
Base

In [ ]:
# Use the base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [ ]:
# Print all of the classses mapped to the Base (this provides a list of the table names in the sqlite.db)
Base.classes.keys()

In [ ]:
# Assign the CCES_16 class to a variable called 'CCES'
CCES = Base.classes.CCES_16

In [ ]:
for row in session.query(CCES, CCES.V101).limit(5).all():
    print(row)

In [ ]:
### Accuracy Test 1
# Query support for gay marriage from pandas DF and from Sqlite file

ApproveGay = session.query(CCES).filter(CCES.GayMarriage == 'Support').count()
print(f'Sqlite query of votes supporting Gay Marrige: {ApproveGay}')
print(f'Pandas DF Sort of votes supporing Gay Marriage: {GaySupport}')

In [ ]:
### Accuracy Test 2
# Query support for Gun Background Checks from pandas DF and Sqlite file
SupportChecks = session.query(CCES).filter(CCES.GunBackgroundChecks_16 == 'Support').count()
print(f'Sqlite support votes: {SupportChecks}')
print(f'Pandas DF support votes: {GunBcSupport}')

In [ ]:
### Multi Filter Test 1
# Query Males who support background checks
# Query Females who support background checks
# Total number of support background check votes in Pandas

MaleCheckSupport = session.query(CCES).filter(CCES.gender == 'male').filter(CCES.GunBackgroundChecks_16 == 'Support').count()
FemaleCheckSupport = session.query(CCES).filter(CCES.gender == 'female').filter(CCES.GunBackgroundChecks_16 == 'Support').count()

print(f'Query Male = {MaleCheckSupport}')
print(f'Query Female = {FemaleCheckSupport}')
print('Query total = ', MaleCheckSupport + FemaleCheckSupport)
print(f'Total Support = {GunBcSupport}')

In [ ]:
from sqlalchemy import func

In [ ]:
StatesFor = session.query(CCES.inputstate, func.count(CCES.GunBackgroundChecks_16)).group_by(CCES.inputstate).all()
StatesFor